In [112]:
import numpy as np
from pywrenext import sdblogger
import time
from importlib import reload
reload(sdblogger)

import pandas as pd

In [106]:
reload(sdblogger)

sdblog = sdblogger.SDBLogger('test_two', always_fields={'foo' : 'bar'})
def foo(x):
    for i in range(5):
        
        sdblog(iteration=i, x=x+1.0, happy_feet=True)
    return x
foo(10)
q = sdblogger.to_df(sdblog.query())
q

select * from test_two where  `foo`='bar' and  `logger_id`='0629e409-d364-4fe5-82f3-87c129def856'

,foo,happy_feet,iteration,logger_id,timestamp,x
id,,,,,,
589376c2-4098-4b7e-9806-d62e7e827adf,bar,True,0,0629e409-d364-4fe5-82f3-87c129def856,2017-09-07 23:56:36.815822,11.0
eec60a63-df6a-4d16-90fe-a8fe91576506,bar,True,1,0629e409-d364-4fe5-82f3-87c129def856,2017-09-07 23:56:37.021872,11.0
61d17456-c05c-4b7a-b0e7-78d9ad43266c,bar,True,2,0629e409-d364-4fe5-82f3-87c129def856,2017-09-07 23:56:37.081909,11.0
7622beca-85c9-40d3-b856-a2ecd909ff35,bar,True,3,0629e409-d364-4fe5-82f3-87c129def856,2017-09-07 23:56:37.139556,11.0

In [122]:
reload(sdblogger)

sdblog = sdblogger.SDBLogger('test_two', always_fields={'foo' : 'bar'})

import cloudpickle
_ = cloudpickle.dumps(sdblog)

In [123]:
reload(sdblogger)
sdblog = sdblogger.SDBLogger('test_two', always_fields={'foo' : 'bar'})

def foo_sleep(sleep_dur):
    for i in range(sleep_dur):
        sdblog(iteration=i, sleep_dur = sleep_dur, happy_feet=True)
        time.sleep(1)
    return sleep_dur
list(map(foo_sleep, [5]))
q = sdblogger.to_df(sdblog.query())
q

select * from test_two where  `foo`='bar' and  `logger_id`='595a8767-1a90-4daa-bbc4-61e075c2d78f'

,foo,happy_feet,iteration,logger_id,sleep_dur,timestamp
id,,,,,,
bbf4978f-60b7-4434-b258-6f372509d88e,bar,True,0,595a8767-1a90-4daa-bbc4-61e075c2d78f,5,2017-09-08 00:06:12.056352
40992c46-dab4-4eb5-b492-babae40bb3b4,bar,True,1,595a8767-1a90-4daa-bbc4-61e075c2d78f,5,2017-09-08 00:06:13.412595
216d0933-3c62-45e0-a29c-587916d98cac,bar,True,2,595a8767-1a90-4daa-bbc4-61e075c2d78f,5,2017-09-08 00:06:14.475105
4da5ee51-e92b-480b-ae7d-8d2c6f0eab24,bar,True,3,595a8767-1a90-4daa-bbc4-61e075c2d78f,5,2017-09-08 00:06:15.535083
38f9aacf-c5f3-4208-a9b5-1b00ec89f7fe,bar,True,4,595a8767-1a90-4daa-bbc4-61e075c2d78f,5,2017-09-08 00:06:16.599862

In [149]:
import pywren
reload(sdblogger)
sdblog = sdblogger.SDBLogger('test_two', always_fields={'foo' : 'bar'})

def foo_sleep(sleep_dur):
    for i in range(sleep_dur):
        sdblog(iteration=i, sleep_dur = sleep_dur, happy_feet=True)
        time.sleep(1)
    return sleep_dur
import pywren

wrenexec = pywren.default_executor()
futures = wrenexec.map(foo_sleep, [5])
for i in range(10):
    q = sdblogger.to_df(sdblog.query())
    if q is None:
        print("none yet")
    else:
        print(q['iteration'])
    time.sleep(2)

select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
none yet
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64
select * from test_two where  `foo`='bar' and  `logger_id`='1a75476b-6f82-43d5-89f6-33cef306feac'
id
e1313f84-de37-466e-80e1-d8b89a0e609c    0
ac62016f-a5f0-469a-b5dc-95b60a825ec8    1
aab46891-1d1c-4e18-9fed-07cf1352c6d6    2
6c3060c7-7bf4-4cdb-a2ff-c9fdd55604de    3
4ec2b94d-832b-49f1-ad71-5a559f68d656    4
Name: iteration, dtype: int64

In [135]:
q

In [136]:
q = sdblogger.to_df(sdblog.query())
q

select * from test_two where  `foo`='bar' and  `logger_id`='ca874299-109e-4cfc-8b8f-c08c2a1ebf8a'

,foo,happy_feet,iteration,logger_id,sleep_dur,timestamp
id,,,,,,
461089ee-d6c2-444f-af7d-7e1827c3902e,bar,True,0,ca874299-109e-4cfc-8b8f-c08c2a1ebf8a,5,2017-09-08 00:12:59.640806
f0322440-b0c8-4f02-9b68-f815684282fe,bar,True,1,ca874299-109e-4cfc-8b8f-c08c2a1ebf8a,5,2017-09-08 00:13:00.699235
3bba93d2-5237-499a-81a4-8d36aaebc80a,bar,True,2,ca874299-109e-4cfc-8b8f-c08c2a1ebf8a,5,2017-09-08 00:13:01.729611
a106ae23-6099-40d0-8fb1-7078c8abc37d,bar,True,3,ca874299-109e-4cfc-8b8f-c08c2a1ebf8a,5,2017-09-08 00:13:02.758518
416c7fc0-0d34-4953-a9bb-47457327354c,bar,True,4,ca874299-109e-4cfc-8b8f-c08c2a1ebf8a,5,2017-09-08 00:13:03.790978